<div
  class="container d-flex align-items-center justify-content-center contenedor-formulario"
>
  <div class="col-10 col-md-8 card text-center my-3">
    <div class="card-header titulos">GRÁFICO DE LINEAS</div>
    <div class="card-body">
      <canvas
        baseChart
        width="500"
        height="270"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [type]="lineChartType"
        [plugins]="lineChartPlugins"
      >
      </canvas>
    </div>
  </div>
</div>
