<h3>Gestión del empleado-</h3>
<label>Nombre: </label>
<!-- <input type="text" [(ngModel)]="empleados[seleccionado].nombre"><br> -->
<label>Edad: </label>
<!-- <input type="number" [(ngModel)]="empleados[seleccionado].edad"><br> -->
<label>Contratado: </label>
<!-- <input type="number" [(ngModel)]="empleados[seleccionado].contratado"
min="0" max="1"><br><br> -->
<label>Cambiar al empleado: </label>
<!-- <input type="number" [(ngModel)]="seleccionado" min="0" max="{{
empleados.length-1 }}"><br> -->