<div class="container-cliente">
    <form action="" id="formCliente">
        <div class="subtitle-form">
            <h2>Gestión del cliente - {{ clienteSelected }}</h2>
        </div>
        <div class="content-form">
            <div class="form-row">
                <label for="ncliente">Número Cliente: </label>
                <input type="text" name="ncliente" pattern="^\d" title="Por favor, ingrese solo números."
                    [(ngModel)]="clientes[clienteSelected].ncliente" disabled>
            </div>
            <div class="form-row">
                <label for="nombre">Nombre: </label>
                <input type="text" name="nombre" [(ngModel)]="clientes[clienteSelected].nombre" required>
                
            </div>
            <div class="form-row">
                <label for="activo">Activo: </label>
                <input type="text" name="activo" [value]="clientes[clienteSelected]?.activo ? 'ACTIVO' : 'INACTIVO'"
                    disabled>
            </div>
            <div class="form-row">
                <label for="saldo">Saldo: </label>
                <input type="text" name="saldo" [(ngModel)]="clientes[clienteSelected].saldo" disabled>
            </div>
        </div>
    </form>


    <div class="subForm">
        <div class="change-client">
            <label for="change-nclient">Cambiar al cliente: </label>
            <input type="number" name="change-nclient" id="change-nclient" [(ngModel)]="clienteSelected" min="0" 
            max="{{ clientes.length-1 }}">
        </div>
        <div class="btn-form">
            <button (click)="nuevoCliente()">Añadir Un Nuevo Cliente</button>
        </div>
    </div>
</div>