.cliente-activo{
    color: black;
    background-color: #8beb93;
}
/* color salmon #f2a3a1 */
.cliente-inactivo{
    color: white;
    background-color: black;
}

.saldo-negativo{
    color: white;
    background-color: #f2a3a1;
}