.saldo-negativo{
    color: white;
    background-color: #f2a3a1;
}

.operacion-aceptada{
    color: black;
    background-color: #8beb93;
}

.operacion-rechazada{
    color: white;
    background-color: red;
}

table{
    text-align: center;
}